.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}
.content {
    flex-grow: 1;
    max-width: 800px;
    margin-left: 15%; /*This moves the grid left */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button {
    margin-top: 20px;
    padding: 10px 20px;
    background: linear-gradient(45deg, #ff8c00, #ffcc00);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 5%;
}
.button:hover {
    background: linear-gradient(45deg, #ffcc00, #ff8c00);
    transform: scale(1.05);
}
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12%;
    height: 40%;
    margin-left: 12.3%;
    margin-top: -2%;
    border-radius: 20px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: relative;
        margin-left: 0;
        margin-bottom: 20px;
        height: auto;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .content {
        margin-left: 30%;
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 25%; 
        padding: 10px;
        position: fixed;
        left: 0;
        overflow-y: auto;
    }
}