.h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
}
.controlsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}
.searchWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ff8c00;
    border-radius: 11px;
}
.search {
    width: 300px;
    height: 40px;
    padding: 0 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 1rem;
    border: none;
}
.search:focus{
    outline: none;
    border: none;
}
.button {
    margin-left: 10px;
    padding: 10px 20px;
    background: linear-gradient(45deg, #ff8c00, #ffcc00);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.button:hover {
    background: linear-gradient(45deg, #ffcc00, #ff8c00);
}
.worldGenre {
    padding: 10px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #ff8c00;
}
.worldGenre:focus {
    outline: none;
    border: 2px solid #ff8c00;
}
.filter {
    width: 40px;
    height: 40px;
    border: none;
    background: white;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter:hover {
    background: lightgray;
}

.filtermenu{
    display: flex;
    width: 120px;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 14rem;
    right: 30rem;
    border: 1px solid black;
    background: white;
    border-radius: 10px;
}

.filtermenuinactive {
    opacity: 1;
    visibility: hidden;
    position: absolute;
    right: 28%;
}

.filtersubmenu{
    display: flex;
    width: 120px;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 14rem;
    right: 22.5rem;
    border: 1px solid black;
    background: white;
    border-radius: 10px;
    pointer-events: auto;
    opacity: 1;
    z-index: 999;
    transition: opacity 0.3s ease;
}

.filtersubmenuinactive {
    opacity: 0;
    pointer-events: none;
    right: 28%;
    transition: opacity 0.3s ease;
    z-index: 10;
    height: 0;
}

.dropdownitem {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}
.dropdownitem:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.dropdownitem:nth-child(2){
    padding-right: 5px;
}
.dropdownitem:last-child{
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.dropdownitem:hover {
    cursor: pointer;
    background: lightgray;
}

.dropdownbody {
    width: 100%;
}
.submenuitem {
    border-bottom: 1px solid lightgray;
    text-align: center;
}
.submenuitem:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.submenuitem:last-child{
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.submenuitem:hover {
    cursor: pointer;
    background: lightgray;
}

.submenubody {
    width: 100%;
}
.paginationWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.pageButton{
    padding: 10px;
    margin-right: 10px;
    background: black;
    color: white;
    border-radius: 5px;
    border: none;
}
.pageButton:hover{
    opacity: .5;
    cursor: pointer;
}
.currentPageButton {
    padding: 10px;
    margin-right: 10px;
    background: #ff8c00;
    color: white;
    border-radius: 5px;
    border: none;
}
.currentPageButton:hover{
    opacity: .5;
    cursor: pointer;
}
.innersubmenuitem {
    border: none;
    background: none;
    width: 100%;
    height: 40px;
}
.innersubmenuitem:hover {
    cursor: pointer;
}
.closefilterinactive {
    opacity: 0;
    pointer-events: none;
}
@media (max-width: 768px) {
    .controlsWrapper {
      flex-direction: column;
      gap: 15px;
    }
    .searchWrapper {
        margin: 0 1rem;
        width: 100%;
        justify-content: space-between;
      }
    
      .search {
        flex: 1;
        min-width: 0;
        margin-right: 10px;
      }
    .filtermenu,
  .filtersubmenu {
    right: 1rem;
    top: 12rem;
    width: 90vw;
  }
  }
  