.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.content {
    flex-grow: 1;
    max-width: 800px;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    padding: 10px 20px;
    background: linear-gradient(45deg, #ff8c00, #ffcc00);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 5%;
    width: 100%;
    max-width: 250px;
}

.button:hover {
    background: linear-gradient(45deg, #ffcc00, #ff8c00);
    transform: scale(1.05);
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .content {
        max-width: 90%;
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .content {
        max-width: 100%;
    }
}

@media (max-width: 480px) {

    .content{
        width: 100px;
    }
    .button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}
