.h1{
    text-align: center;
    margin-top: 3%;
}
.h2{
    text-align: center;
    margin: 3%;
}
.container{
    border: 2px solid black;
    height: 500px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
}
.label{
    font-size: 2rem;
    margin-left: 3%;
}
.email{
    margin-top: 2%;
    margin-left: 7%;
    height: 12%;
    width: 300px;
    border: 2px solid black;

}
.password{
    margin-top: 2%;
    margin-left: 7%;
    margin-bottom: 3%;
    height: 50px;
    width: 300px;
    border: 2px solid black;
}

input{
    font-size: 20px;
}
.button{
   margin-left: 30%;
   margin-right: 50%;
   width: 300px;
    height: 50px;
    margin-bottom: 5%;
    border: 2px solid black;
    background-color: green;
    cursor: pointer;
}