.header{
    text-align: center;
    margin-top: 3%;
}
.button{
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 2px solid black;
    margin-left: 45%;
}
.button:hover {
    background: linear-gradient(45deg, #ffcc00, #ff8c00);
}